{% extends 'base.html' %}
{% block body %}
{% for question in questions %}
<div class="d-flex justify-content-around">
  <div class="left">
    <form action="/questions/{{question.id}}/answers/create/">
      <div class="card m-5" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{question.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{question.user}}</h6>
          <p class="card-text">{{question.content}}</p>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="content" placeholder="질문에 답해주세요">
          <div class="input-group-append">
            <button class="btn btn-outline-info" type="submit">답글등록</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="right my-4">
    <div class="card mx-5" style="width: 18rem;">
      <div class="card-header">
        댓글목록
      </div>
      <ul class="list-group list-group-flush">
        {% for answer in question.answer_set.all %}
        <li class="list-group-item">{{answer.content}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<hr>
{% endfor %}
{% endblock %}